@using System.Web.Mvc.Html

@model IEnumerable<BettingApplication.Models.Fixtures.Fixture>

@{
  ViewBag.Title = "_UpcomingGames";
}

  <div class="col-md-9">

    <table class="table table-hover">
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.homeTeamName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.awayTeamName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.date)
        </th>
      </tr>


      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.homeTeamName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.awayTeamName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.date)
          </td>
        </tr>
      }
    </table>
  </div>

<div class="col-md-3"></div>
<table>
  <tr>
    <td>
      @{
        Html.RenderAction("_CreateBet", "Bets");
      }
    </td>
  </tr>
</table>





