@using System.Web.Mvc.Html

@model BettingApplication.Models.UserBetsVM

@{
  ViewBag.Title = "_UpcomingGames";
}


<h2>Upcoming matches</h2>


<div class="well-sm">
  <table class="table table-striped">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.homeTeam)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.awayTeam)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.date)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.HomeTeamWins)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Draw)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.AwayTeamWins)
      </th>
    </tr>
  </table>
</div>


    @*@using (Html.BeginForm("PlaceUserBets", "Home", FormMethod.Post))
    {
      @Html.AntiForgeryToken()
      
      var list = Model.ToList();

      for (int i = 0; i < list.Count; i++)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => list[i].homeTeam)
          </td>
          <td>
            @Html.DisplayFor(modelItem => list[i].awayTeam)
          </td>
          <td>
            @Html.DisplayFor(modelItem => list[i].date)
          </td>
          <td>
            @Html.RadioButtonFor(modelItem => list[i].HomeTeamWins, true, new {Name = "radio"})
          </td>
          <td>
            @Html.RadioButtonFor(modelItem => list[i].Draw, true, new {Name = "radio" })
          </td>
          <td>
            @Html.RadioButtonFor(modelItem => list[i].AwayTeamWins, true, new {Name = "radio" })
          </td>
        </tr>
      }
    }
  </table>
  <div class="form-group">
    <div class="col-md-offset-10 col-md-10">
      <input type="submit" value="Place your bet" class="btn btn-success" />
    </div>
  </div>
  </div>*@
