@model IEnumerable<BettingApplication.Models.LeagueTable.Standing>
@{
    ViewBag.Title = "League table";
}

<h2>League table</h2>

<table class="table table-striped">
    <tr>
        <th>         
            @Html.DisplayNameFor(model => model.position)      
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playedGames)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalsAgainst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goalDifference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.draws)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playedGames)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goalsAgainst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goalDifference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.draws)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.points)
            </td>
            <td>

        </tr>
    }
</table>