@model BettingApplication.Models.Bets

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoundId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match10)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
