@model IEnumerable<BettingApplication.Models.Bets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoundId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match10)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoundId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match10)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
